<div class="add-restaurant-form ml-4">
  <h3>Add a new restaurant! </h3>
  <form action="/add-restaurant" method="POST">
  <div class="input-group mb-3 col-4">
    <input type="text" class="form-control" placeholder="name" name="name" required>
  </div>
  <div class="input-group mb-3 col-4">
    <input type="text" class="form-control" placeholder="name_en" name="name_en">
  </div>
  <div class="input-group mb-3 col-4">
    <input type="text" class="form-control" placeholder="category" name="category" required>
  </div>
  <div class="input-group mb-3 col-4">
    <input type="text" class="form-control" placeholder="image.url" name="image">
  </div>
  <div class="input-group mb-3 col-4">
    <input type="text" class="form-control" placeholder="location" name="location" required>
  </div>
  <div class="input-group mb-3 col-4">
    <input type="text" class="form-control" placeholder="phone" name="phone">
  </div>
  <div class="input-group mb-3 col-4">
    <input type="text" class="form-control" placeholder="google_map url" name="google_map">
  </div>
  <div class="input-group mb-3 col-4">
    <input type="text" class="form-control" placeholder="rating" name="rating" >
  </div>
  <div class="input-group mb-3 col-4">
    <input type="text" class="form-control" placeholder="description" name="description">
  </div>
  <button class="btn btn-info mb-2" type="submit">creat</button>
  </form>
</div>